name: build

on: ["push", "pull_request"]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: golangci/golangci-lint-action@v9
        with:
          args: -v

  build:
    name: build
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build
        run: make build-bin

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Test
        env:
          GOTOOLCHAIN: auto
        run: make test

  coverage:
    runs-on: ubuntu-latest
    needs: build
    name: coverage
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Go test with coverage
        run: sudo make test-coverage # sudo needed for network interfaces creation

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: test/coverage/lcov.info
